<div class="row">
	<% @events.each do | event | %>
    <div class="col s12 m6 l4">
      <div class="card small">
        <div class="card-image">
          <%= image_tag event.image.url(:thumb), class: 'responsive-img' %>
        </div>
         
        <div class="card-content">
          <p class="light blue-grey-text">
              Happening on<span class="right black-text"><%= event.starts.try(:strftime, '%a, %B %d, %Y') %></span>
          </p>
          <p class="light blue-grey-text">
            Event end at <span class="right black-text"><%= event.ends.try(:strftime, '%a, %B %d, %Y') %></span>
          </p>
        </div>

        <div class="card-action">
          <%= link_to 'know more', event, class: 'light blue-text hover' %>
        </div>
      </div>
    </div>
	<% end %>
</div>