<%= render 'dashboard_nav.html.erb' %>

<main id="main">
	<aside>
		<ul id="slide-out" class="side-nav left-nav fixed">
		<li><%= active_link_to 'Dashboard', dashboards_index_path, :active => :exact, class: 'light white-text' %></li>
		<li><%= link_to 'Create new event', new_event_path, class: 'light blue-grey-text'%></li>
		<li><a class="light blue-grey-text" href="#!">Calendar</a></li>	
    <li><a class="light blue-grey-text" href="#!">Message</a></li>
    <li><a class="light blue-grey-text" href="#!">Followers</a></li>
	</ul>	
	</aside>
	<section class="container dashboard-page">
		<h1 class="center">MY EVENT</h1>
		<div class="divider event-divider"></div>
		<%= render 'db_events'%>
	</sectin>
</main>

 	
