body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer.bg{
	margin-top: 0px;
	padding-top: 0px;
		background: #689f38;
		.sub-bg {
			//background: #141D22;
		}
}

.circle.image-profile {
	width:150px;
	height: 150px;
	position:relative;
	z-index: 1;  	
}

.row.profile {
	margin-top:-70px;
}

#social-icon > a{
	margin-right: 15px;
	margin-top: -20px;
}

.center .top {
	margin-top: -30px;
	margin-bottom: 35px;
}

.container.sessions {
  width: 30em;
  margin: 10% auto ;
  @media screen and(max-width: 500px){
  	width:90%;

  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.btn-home.center {
  margin-bottom:-30px;
}

#main-logo {
  width:50px;
  height:auto;
  margin-top:5px;
}

.container.quote {
	width: 50%;
}

ul.side-nav li.logo {
text-align: center;
margin-top: 32px;
margin-bottom: 16px;
border-bottom: 1px solid #ddd;
}

ul.side-nav li.logo:hover{
	background-color: transparent;
}

.side-nav li:hover {
	background-color: #c5e1a5; 
}

.side-nav li.active,
.side-nav li a.active{
	background-color: #689f38;
	color: #fff !important;	
}

.container.event-new {
	margin-bottom: 125px;
}

.container.event-one {
	padding-top:50px;
}

.card-content .divider-cs {

	width: 40%;
	border-bottom: 2px solid green;
	display: block;
	margin: 50px auto;
	text-align: center;
	border-top: 2px solid green;
}

.text-cap {
	text-transform: capitalize;
}

p.event-content {
	font-size: 1.1em;
}

.fa.sm-icon {
	font-size: 1em;
}

span.event-date {
	margin-left:10px;
}

.event.fa {
	color: rgb(199, 194, 194);
}

.event-photo.fa {
	color:#fff;
}

#main {
	padding-left: 240px;
}

ul.side-nav.left-nav {
	top:64px;
	 @media screen and(max-width: 600px){
  top:56px;

  }
}

.fa.fa-lg {
	font-size: 1.2em;
}

.right.padding-right {
	margin-right:25px
}

#db-logo {
	margin-left:25px;
}

.dropdown-content.db {
	min-width: 190px !important;
}

.container.dashboard-page {
	padding:10px;
}

.divider.event-divider {
	margin-bottom: 50px;
}

.side-nav li {
	padding: 0 !important;
}


